{#
    Copyright (c) 2011-2012 Mike Green <myatus@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% spaceless %}
{% if label %}<span style="color: #999; line-height: 30px; text-shadow: #fff 1px 1px 0">{{ label }}</span>{% endif %}
<div style="width:240px; border-bottom: 1px solid #fff; border-top: 1px solid #dfdfdf;"></div>

{% endspaceless %}
