
<p>
    <label for="custom_css">
        {{ __('You can provide an additional Custom Stylesheet (CSS) that will only be loaded when this Photo Set is active. As an example, this could be used to color match your selected WordPress theme with the color schema of the photos.') }}
    </label>
</p>
<textarea id="custom_css" name="custom_css" class="code" rows="3" cols="30" style="width:100%;" tabindex="3">{{ custom_css }}</textarea>

