{#
    Copyright (c) 2011 Mike Green <myatus@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

<form method="post" action="">

    <label for="test">{{ __('Test') }}</label>
    <input type="text" id="test" name="test" value="{{ test_val }}" />

    {{ nonce | raw }}
    {{ submit_button | raw }}

</form>
